# Flutter/Dart
.dart_tool/
.build/
.packages
pubspec.lock

# Android
**/android/.gradle/
**/android/app/build/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig

# VSCode/IDE
.vscode/
.idea/
*.iml
*.swp